.bx{
    box-shadow: 2px 2px 18px rgba(0,0,0,0.2);
}
.card-border{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border: 0px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#index{
    background-color: #605afc;
}

.signin{
    color: white;
    background-color: #605afc;
}

.card-title{
    text-align: center;
}

body.dash{
    background-color: #f1f1ff;
}

.bx{
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.navbar{
    background-color: #605afc;
}

.search{
    background-color: #f6f6ff;
}

.magnifier{
    background-color: #f6f6ff;
}

.fa-search{
    color: #605afc;
}

.card-border{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border: 0px;
}

.btn-group{
    width: 100%;
}

.d-flex{
    width: 200px;
    margin-top: 5px;
    float:right;
    background-color: #f6f6ff;
}

.new-job{
    background-color: #605afc;
    color: white;
}

.new-employee{
    background-color: #605afc;
    color: white;
}
